.header-container {
    display: flex;
    text-align: center;
    margin-right: 20%;
}

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    background-color: #14041d;
    backdrop-filter: blur(1px);
    /* position: sticky; */
    top: 0;
    z-index: 10;
    /* background-color: white; */

}

.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section,
.right-section {
    justify-content: center;
}

.buttons-left,
.buttons-right {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px;
    background-color: white;
    color: #14041d;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 1);
    font-family: 'Tiny5', 'Gill Sans';
    transition: all .2s;
}

.footer {
    background-color: #c32178;
    font-family: 'Tiny5', 'Gill Sans';
    padding: 10px;
    color: white;
    font-size: 18pt;
    text-align: center;
}

.footer a {
    color: white;
    font-size: 18pt;
    text-align: center;
}

.button:hover {
    background-color: #c32178;
    color: white;
    font-family: 'Tiny5', 'Gill Sans';
    transition: all .2s;
    font-size: 12pt;
    padding: 10px;
    border: none;
}

.image img {
    width: auto;
    padding: 4px;
    height: 55px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: all .2s;
    border-radius: 5px;
}

.image img:hover {
    width: auto;
    padding: 10px;
    height: 55px;
    transition: all .2s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    filter: contrast(200%);
}


@media screen and (width < 900px) {
    .buttons-left {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        flex-direction: column;
        width: 200px;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .buttons-left.active {
        display: flex;
    }

    #burger {
        display: block;
    }

    .image img {
        width: auto;
        padding: 2px;
        margin-left: 5px;
        margin-right: 5px;
        height: 50px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        transition: all .2s;
        border-radius: 5px;
    }

    .image img:hover {
        width: auto;
        margin-left: 5px;
        padding: 3px;
        margin-right:5px;
        height: 49px;
        transition: all .2s;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
        filter: contrast(200%);
    }
}

@media (min-width: 900px) {
    #burger {
        display: none !important;
    }
}

.left-section {
    position: relative;
    gap: 12px;
}

.buttons-left .button {
    text-align: left;
    padding: 12px !important;
}