/* LOGIN/REGISTER PAGES CSS */
@media (min-width: 701px) {
    .main-container {
        text-align: center;
        background-color: whitesmoke;
        margin: 5% 25% 0 25%;
        padding: 5em 1em 5em 1em;
        border-radius: 15px;
        /* border: 1px solid black; */
        box-shadow: 0 0 100px rgb(150, 150, 150);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media (max-width: 700px) {
    .main-container {
        text-align: center;
        background-color: whitesmoke;
        margin-top: 25%;
        padding: 5em 1em 5em 1em;
        border-radius: 15px;
        /* border: 1px solid black; */
        box-shadow: 0 0 100px rgb(150, 150, 150);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.form-element input {
    border: none;
    outline: none;
    margin: 10px 0 10px 0;
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.main-container button {
    outline: none;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 30%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.6s;
}

.main-container button:hover {
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 30%;
    height: 40px;
    margin-top: 10px;
    transition: all 0.6s;
    cursor: pointer;
}

.white-link {
    text-decoration: underline;
    color: #0072FF;
    transition: all 0.6s;
}

.white-link:hover {
    color: black;
    transition: all 0.6s;
}

.gray-link {
    text-decoration: none;
    color: gray;
    font-family: cursive;
}