@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.main-container {
    height: 100vh;
    background: linear-gradient(#14041d, #400c4a, #74155d, #c32178);
    /* background: linear-gradient(#a148aa, #dd743d, #fff837); */
}

.search-field-container {
    text-align: center;
    padding-top: 50px;
}

#game-search-header {
    font-family: 'Tiny5', 'Gill Sans';
    color: white;
    font-size: 48pt;
}

#game-search-input {
    font-family: 'Tiny5', 'Gill Sans';
    font-size: 24pt;
    width: 600px;
    height: 40px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 1);
    outline: none;
    border: 0;
}

#game-search-input::before {
    transition: background-color 0.3s ease, width 0.3s ease;
}

#game-search-submit {
    font-family: 'Tiny5', 'Gill Sans';
    font-size: 24pt;
    width: 175px;
    height: 40px;
    background-color: white;
    color: #14041d;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 1);
    transition: all .1s;
}

#game-search-submit:hover {
    background-color: #c32178;
    color: white;
    font-family: 'Tiny5', 'Gill Sans';
    transition: all .1s;
    font-size: 25pt;
    border: none;
}

@media screen and (width < 900px) {
    #game-search-input {
        font-family: 'Tiny5', 'Gill Sans';
        font-size: 18pt;
        width: 90%;
        margin-bottom: 10px;
        height: 40px;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 1);
        outline: none;
        border: 0;
    }
    
    #game-search-input::before {
        transition: background-color 0.3s ease, width 0.3s ease;   
    }
}

/* 21.06.2025 (c) Alexander Livanov */
/* Стили для верхнего баннера */
.top-banner {
    position: relative;
    background: linear-gradient(90deg, #ff5722, #e91e63, #9c27b0);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    z-index: 10001;
    /* Выше хедера */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.banner-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    flex-grow: 1;
    text-align: center;
}

.close-banner {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 15px;
    transition: background 0.3s;
}

.close-banner:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Анимация закрытия */
@keyframes slideUp {
    to {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .top-banner {
        font-size: 12px;
        padding: 8px 15px;
    }

    .close-banner {
        width: 20px;
        height: 20px;
    }
}