:root {
    --primary-color: #fff837;
    --bg-dark1: #14041d;
    --bg-dark2: #400c4a;
    --bg-dark3: #74155d;
    --bg-dark4: #c32178;
    --bg-light1: #a148aa;
    --bg-light2: #dd743d;
    --bg-light3: #fff837;
    --card-background: #ffffff;
    --text-color: white;
}

body {
    /* background: linear-gradient(var(--bg-dark1), var(--bg-dark2), var(--bg-dark3), var(--bg-dark4)); */
    height: 100vh;
    /* color: var(--text-color);
    font-family: 'Arial', sans-serif;
    padding: 20px; */
}

.profile-container {
    margin: 0 auto;
    background: linear-gradient(var(--bg-dark1), var(--bg-dark2), var(--bg-dark3), var(--bg-dark4));
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    min-height: 100vh;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 0 150px;
    border-bottom: 1px solid #eee;
    color: var(--text-color);
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 3px solid var(--primary-color);  TODO: Сделать для премиум акков*/
}

.tabs {
    display: flex;
    gap: 15px;
    margin: 0 150px;
    border-bottom: 2px solid #eee;
}

.tab-button {
    padding: 12px 25px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    transition: all 0.3s ease;
    color: #f8f9fa;
}

.tab-button.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.tab-content {
    display: none;
    padding: 20px;
    animation: fadeIn 0.3s ease;
    margin: 0 150px;
}

.tab-content.active {
    display: block;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.info-card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid var(--primary-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logout-btn {
    background: #dc3545;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

@media screen and (width < 900px) {
    .profile-header {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px;
        margin: 0 0;
        border-bottom: 1px solid #eee;
        color: var(--text-color);   
    }

    .tabs {
        gap: 15px;
        margin: 0 0;
        display: block;
        border-bottom: 2px solid #eee;   
    }

    .tab-content {
        display: none;
        padding: 20px;
        animation: fadeIn 0.3s ease;
        margin: 0 0;   
    }
}